* {
    font-family: 'Museo Sans Cyrl', sans-serif
}

* {
  margin: 0;
}
@import 'base/variables';
@import 'base/mixins';
@import 'media';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/adv';

.container {
    width: 950px;
    margin: 0 auto;
}

