.adv {
    min-height: 470px;
    background-color: #f6f6f6;
    .container {
        padding: 70px 0 78px 0;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 235px;
        text-align: center;
        img {
            margin-top: 65px;
            transition: 0.4s all;
            &:hover {
                transform: scale(1.1);
            }
        }
        &_header {
            margin-top: 34px;
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
        }
        &_descr {
            margin-top: 27px;
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 500;
            a {
                color: #e30101;
                text-decoration: underline;
            }
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}